#background {/*background da tela inteira*/
    position: fixed;/*mudei de fixo pra relativo*/
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
}

#background video { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*position: relative;*/
}

#background::after {/*sombreamento*/
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}
/*as linhas do main abaixo, sao apenas para modificar o texto em baixo da imagem do luffy*/
main {
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1800px;
    padding-top: 100px;
}
.main__info {
    width: 100%;
    max-width: 570px;
}
main p {
    font-size: 24px;
    color: white;
    margin: 0px 0 28px;
    opacity: 0.7;
    text-align: left;
    display: inline-block;
    margin-top: -410px;
    margin-left: 500px;
    width: 550px;
}

main p {
    background-color: transparent;
    backdrop-filter: blur(60px);
    border: #ccc solid 1px;
    padding: 1rem;
}
    
