.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.menu .box-container .box {
    padding: 1rem;
    text-align: center;
    border: var(--border);
    display: inline-block;
    border: #b8b8b8 solid 2px;
    background-color: transparent;
    backdrop-filter: blur(40px);
    border: #ccc solid 1px;

}

.menu .box-container .box .price { /*Modificacao do texto de saiba mais a respeito do personagem*/
    color: #ffffff;
    font-size: 2.5rem;
    padding: 1rem 0;
}


.menu h1 {
    color: white;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 1rem 0;
}

/*Classe errada*/

.menu .box-container .box .price span{
    font-size: 1.5rem;

}

.menu .box-container .box:hover{/*Botao de hover, quando o mouse passa*/
    background: rgba(66, 217, 255, 0.187);
}

.menu .box-container .box:hover > *{/*Quando o hover passa, a cor de fundo fica da cor escolhida*/
    color: var(--black);
}

.menu .box-container .box .btn {
    background-color: black;
}

.menu h1 {
    font-size: 400%;
    text-align: center;
    padding: 100px;
}


/*MEU CODIGO COMEÇA NO REVIEW .BOX-CONTAINER*/
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 1rem 2rem;
    border: white solid 2px;
    background-color: transparent;
    backdrop-filter: blur(40px);
    border: #ccc solid 1px;

}

.review .box-container .box p {
    /*Paragrafo de texto*/
    font-size: 1.3rem;
    line-height: 1.9;
    color: #dbdbdb;
    padding: 2rem 0;
}

.review .box-container .box .user {
    /*Foto de usuario*/
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box .quote {
    /*Imagem das aspas*/
    height: 3.5rem;
    width: 25%;
    padding: 0;
}

.review .box-container .box h3 {
    /*Nome da pessoa abaixo da foto*/
    padding: 1rem 0;
    font-size: 1rem;
    color: #b8b8b8;
    padding: 0;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}
.review h1{
    color: rgb(249, 249, 249);
    padding: 150px;
}

body
{
    min-height: 100vh;
    background: linear-gradient(rgb(139, 28, 28), rgb(0, 0, 0));
}